<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<section th:replace="layout :: shared_head" />
    <link th:href="@{/style/home.css}" rel="stylesheet">
</head>
<body>
<header th:replace="layout :: shared_header"/>
<main class="text-body">
    <div class="h-100 m-0 p-0 row">
    <!--sidebar--> 
        <div th:replace="layout :: shared_sidebar"/>
        
        
        
        
        
         <!--contend--> 
        <div class="col-12 col-md-10 h-100 pl-0 pl-md-4 pr-0 pr-md-4 pt-2">
            <div class="container">
                <div class="pl-0 pr-0 row">
                    <div class="mb-2 mb-md-4 mt-1 mt-md-4 my-card w-100">
                        <div class="m-0 notification-section row">
                            <h6 class="mb-4">Vos dernierres notifications</h6>
                            <div class="col-md-12 ml-0 mr-0 notification pl-0 pr-0 row">
                                <div class="align-items-center col-6 col-md-4 d-flex justify-content-md-start justify-content-start order-first">
                                    <div class="icon">
                                        <i class="fa-bell far text-muted"></i>
                                    </div>
                                </div>
                                <div class="align-items-center align-items-md-center col-12 col-md-6 d-flex d-md-flex mt-2 mt-md-0 order-2">
                                    <p class="mb-0 mb-md-0 text-body">Paragraph</p>
                                </div>

                                <div class="align-items-center align-items-md-center col-6 col-md-2 d-flex d-md-flex justify-content-center justify-content-md-center order-1 order-md-2">
                                    <p class="mb-0 text-secondary">hier</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 m-0">
                        <div class="col-12 col-md-4 home-option pb-2 pb-md-2 pl-0 pl-md-0 pr-0 pr-md-2 pt-2 pt-md-2">
                            <div class="align-items-center align-items-md-center bg-white d-flex flex-row h-100 justify-content-end justify-content-md-start pb-3 pb-md-3 pl-5 pl-md-5 pr-5 pr-md-0 pt-3 pt-md-3 w-100">
                                <div class="align-items-center d-flex flex-column justify-content-center">
                                    <h4 class="text-muted">19</h4>
                                    <h5 style="color: #ff3d3d;" class="mt-2 text-body">Citee(s)</h5>
                                </div>
                                <i class="fa-city fal font-weight-lighter"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 home-option p-md-2 pb-2 pl-0 pr-0 pt-2">
                            <div class="align-items-center align-items-md-center bg-white d-flex flex-row h-100 justify-content-end justify-content-md-start pb-3 pb-md-3 pl-5 pl-md-5 pr-5 pr-md-0 pt-3 pt-md-3 w-100">
                                <div class="align-items-center d-flex flex-column justify-content-center">
                                    <h4 class="text-muted">19</h4>
                                    <h5 style="color: #ff3d3d;" class="mt-2 text-body">Batiment(s)</h5>
                                </div>
                                <i class="fa-hotel fal font-weight-lighter"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 home-option pb-2 pb-md-2 pl-0 pl-md-2 pr-0 pr-md-0 pt-2 pt-md-2">
                            <div class="align-items-center align-items-md-center bg-white d-flex flex-row h-100 justify-content-end justify-content-md-start pb-3 pb-md-3 pl-5 pl-md-5 pr-5 pr-md-0 pt-3 pt-md-3 w-100">
                                <div class="align-items-center d-flex flex-column justify-content-center">
                                    <h4 class="text-muted">19</h4>
                                    <h5 style="color: #ff3d3d;" class="mt-2 text-body">Logement(s)</h5>
                                </div>
                                <i class="fa-house-user fal font-weight-lighter"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="row m-0">
        <div class="col-md-4 p-1">
        </div>
        <div class="col-md-4 p-1">
        </div>
        <div class="col-md-4 p-1">
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<section th:replace="layout :: shared_scripts"/>
</body>
</html>