<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blank Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./style/header.css" rel="stylesheet">
    <link href="./style/home.css" rel="stylesheet">
    <link href="./style/nav.css" rel="stylesheet">
    <link href="./style/main.css" rel="stylesheet">
    <link href="./font-awaesome/css/all.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Liste des cites</title>
</head>
<body>
<header>
    <div class="row m-0 header-section">
        <div class="align-items-end col-12 col-md-3 d-flex flex-row justify-content-start">
            <div class="logo">
                <img src="assets/img/om.png" width="200px" height="100px">
            </div>
            <h5 class="d-md-block d-none font-weight-bold mb-0" style="color: #ff5f5f;">MAISONNIER</h5>
        </div>
        <div class="col-12 col-md-4 d-md-block d-none">
        </div>
        <div class="col-12 col-md-5 d-md-flex d-none pr-3 pr-md-3">
            <div class="notification-header">
                <div class="mr-md-2 profile">
                    <i class="fa-bell far text-muted"></i>
                    <label>5</label>
                </div>
            </div>
            <div class="profile-section">
                <div class="mr-md-2 profile">
                    <i class="fa-user-circle fas icon text-muted"></i>
                </div>

                <label class="font-weight-bold text-muted" style="color: #555555;">SAPTON</label>
            </div>
        </div>
    </div>
</header>
<main class="text-body">
    <div class="h-100 m-0 p-0 row">
        <div class="col-12 col-md-2 d-md-block d-none h-100 p-0">
            <ul class="mb-0 my-nav pb-0">
                <li>
                    <a class="d-flex d-md-flex"> <i class="fal fa-home"></i> Acceuil</a>
                </li>
                <li class="sub-nav-parent">
                    <a><i class="fal fa-briefcase"></i> gestions des actifs <i class="pl-2 fas fa-caret-down"></i> </a>
                    <ul class="list-unstyled pl-3 sub-nav">
                        <li>
                            <a><i class="fa-city fal"></i> Cite</a>
                        </li>
                        <li>
                            <a><i class="fa-hotel fal"></i> Batiment</a>
                        </li>
                        <li>
                            <a><i class="fa-house-user fal"></i> Logement</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-nav-parent">
                    <a><i class="fa-wallet fal"></i> Gestion Financiere <i class="pl-2 fas fa-caret-down"></i> </a>
                    <ul class="list-unstyled pl-3 sub-nav">
                        <li>
                            <a><i class="fa-coins fal"></i> Depense</a>
                        </li>
                        <li>
                            <a><i class="fa-city fal"></i> Cite</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a> <i class="fa-user-cog fal"></i> Mon compte</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-10 h-100 pl-0 pl-md-4 pr-0 pr-md-4 pt-2">
            <div class="container">
                <div class="pl-0 pr-0 row">
                    <div class="mb-2 mb-md-4 mt-1 mt-md-4 my-card w-100">
                        <div class="m-0 notification-section row">
                            <h6 class="mb-4">Vos dernierres notifications</h6>
                            <div class="col-md-12 ml-0 mr-0 notification pl-0 pr-0 row">
                                <div class="align-items-center col-6 col-md-4 d-flex justify-content-md-start justify-content-start order-first">
                                    <div class="icon">
                                        <i class="fa-bell far text-muted"></i>
                                    </div>
                                </div>
                                <div class="align-items-center align-items-md-center col-12 col-md-6 d-flex d-md-flex mt-2 mt-md-0 order-2">
                                    <p class="mb-0 mb-md-0 text-body">Paragraph</p>
                                </div>

                                <div class="align-items-center align-items-md-center col-6 col-md-2 d-flex d-md-flex justify-content-center justify-content-md-center order-1 order-md-2">
                                    <p class="mb-0 text-secondary">hier</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 m-0">
                        <div class="col-12 col-md-4 home-option pb-2 pb-md-2 pl-0 pl-md-0 pr-0 pr-md-2 pt-2 pt-md-2">
                            <div class="align-items-center align-items-md-center bg-white d-flex flex-row h-100 justify-content-end justify-content-md-start pb-3 pb-md-3 pl-5 pl-md-5 pr-5 pr-md-0 pt-3 pt-md-3 w-100">
                                <div class="align-items-center d-flex flex-column justify-content-center">
                                    <h4 class="text-muted">19</h4>
                                    <h5 style="color: #ff3d3d;" class="mt-2 text-body">Citee(s)</h5>
                                </div>
                                <i class="fa-city fal font-weight-lighter"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 home-option p-md-2 pb-2 pl-0 pr-0 pt-2">
                            <div class="align-items-center align-items-md-center bg-white d-flex flex-row h-100 justify-content-end justify-content-md-start pb-3 pb-md-3 pl-5 pl-md-5 pr-5 pr-md-0 pt-3 pt-md-3 w-100">
                                <div class="align-items-center d-flex flex-column justify-content-center">
                                    <h4 class="text-muted">19</h4>
                                    <h5 style="color: #ff3d3d;" class="mt-2 text-body">Batiment(s)</h5>
                                </div>
                                <i class="fa-hotel fal font-weight-lighter"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 home-option pb-2 pb-md-2 pl-0 pl-md-2 pr-0 pr-md-0 pt-2 pt-md-2">
                            <div class="align-items-center align-items-md-center bg-white d-flex flex-row h-100 justify-content-end justify-content-md-start pb-3 pb-md-3 pl-5 pl-md-5 pr-5 pr-md-0 pt-3 pt-md-3 w-100">
                                <div class="align-items-center d-flex flex-column justify-content-center">
                                    <h4 class="text-muted">19</h4>
                                    <h5 style="color: #ff3d3d;" class="mt-2 text-body">Logement(s)</h5>
                                </div>
                                <i class="fa-house-user fal font-weight-lighter"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="row m-0">
        <div class="col-md-4 p-1">
        </div>
        <div class="col-md-4 p-1">
        </div>
        <div class="col-md-4 p-1">
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script src="./js/popper.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<script src="./js/nav.js"></script>
</body>
</html>